<div class="current_user">
  <% provide(:title, @user.name) %>
  <%= gravatar_for @user %>
  <%= @user.email %> <%= @user.name %>
  <%= @user.created_at %>
</div>
<section class="micropost_feed">
  <%= render 'shared/micropost_feed' %>
</section>